body{
     position:center;
    
    background: #F2E2D2;
}
.tabla1{
    position: absolute;
    width: 1024px;
    height: 768px;   
    left: 300px;
    top:50px;
    background: #EEE0CB;
}
.tabla2{
    position: absolute;
    width: 500px;
    height: 500px;   
    left: 1340px;
    top:50px;
    background: #EEE0CB;
    margin: 5px;
    border-radius: 55px;
    border-style:ridge;
    border-color: black;
}
.c{
    position: absolute;
    width: 500px;
    height: 500px;   
    left: 1340px;
    top:50px;
    background:#093A3E;
    border-radius: 55px;
}
.alerta{
    background-color: #093A3E;
    }
td{
    background-color: #A5978B;
}
#estadistica td{
background-color: pink;
font-size: x-small;
}

.celda{
    background-color:#ffffff;
    font-size: medium;
    padding: 5px;
    margin: 5px;
    border-style:double;
    border-color: black;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
}
.celda2{
    background-color:#9A031E;
    font-size: medium;
    padding: 5px;
    margin: 5px;
    border-style:double;
    border-color: black;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
}

#respuesta{
    background-color: green;
}
 #p
 {
width: 25%;
 }
#p div{
    background-color: whitesmoke;
    border-style: double;
    font-size: 24px;
    margin: 20px;
    width: 50%;
    border-radius: 1000px;
    padding: 100px;
    text-align: center;
}
section span{
    background-color: grey;
    font-size: medium;
    padding: 5px;
    margin: 2px;
    border-radius: 25px;
    border-style: dotted;
    border-color: green;
   color: aliceblue;

}
span:hover{
    color: black;
    background: yellow;
}

.h{
    position: absolute;
    width: 1000px;
    height: 328px;
    left: 630px;
    top:  340px;
    font-family: "Homer Simpson UI";
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 41px;
    text-align: justify;
    
    color: #000000;
}
